:root {
    --ff-body: 'Roboto', sans-serif;
}

body {
    font-family: var(--ff-body);
}

.navbar-brand>img {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
    border-right: 2px #CCD1D1 solid;
}

.btn-primary, .navbar-default .navbar-nav>li>a.login {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding: 0.5em 1em;
    margin-top: 7px;
}

.btn-primary:hover, .btn:hover, .btn-default:hover {
    opacity: 0.8;
    background-color: #337ab7;
    color: white;
}

navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #337ab7;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #FF5733;
}

.login-body {
    margin: 0 auto;
    max-width: 50%;
}

.welcome-text {
    text-transform: capitalize;
    font-weight: bold;
    color: #337ab7;
    padding: 0.5em 1em 0.5em 0;
    margin-top: 7px;
    margin-right: 0.8em;
}

.welcome-text-user {
    color: #FF5733;
}