<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href='/static/styles/style.css' />
    {% endblock %}

    <title>Flask Portal</title>
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="static/images/discover-logo.png" class="img-responsive" alt="">
            BNC to DQE Rules Onboarding Portal
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a href="{{ url_for('login') }}" class="btn btn-primary login"
                        role="button">Login</a></li>
                {% else %}
                <li class="nav-item">{% block welcome_user %}{% endblock %}</li>
                <li class="nav-item"><a href="{{ url_for('logout') }}" class="btn btn-primary login"
                        role="button">Logout</a></li>
                {% endif %}
            </ul>
    </nav>
    {% endblock %}
    <!-- Your page content -->
    {% block content %}
    <div class="container-fluid">
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>