{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
<div class="login-body">
    <div class="card shadow-sm rounded">
        <h1 class="card-header text-center">Sign in</h1>
        <div class="card-body">
            <form action="" method="post" novalidate role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.username, class="form-control", placeholder="Enter your Username") }}
                {{ render_field(form.password, class="form-control", placeholder="Enter your Password") }}
                <button type="submit" class="btn btn-primary btn-block" role="button"> Login </button>
                <div class="text-center mt-2">
                    {{ render_field(form.remember_me, class="form-control") }}
                </div>
                <p class="text-center">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}