{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
<div class="login-body">
    <div class="card shadow-sm rounded">
        <h1 class="card-header text-center">Register</h1>
        <div class="card-body">
            <form action="" method="post" novalidate role="form">
                {{ form.hidden_tag() }}
                {{ render_field (form.username, class="form-control", placeholder="Enter your Username") }}
                {{ render_field (form.email, class="form-control", placeholder="Enter your Email") }}
                {{ render_field (form.password, class="form-control", placeholder="Enter your Password") }}
                {{ render_field (form.password2, class="form-control", placeholder="Re-enter your Password") }}
                <button type="submit" class="btn btn-primary btn-block" role="button"> Register </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}